.body{
  background-image: url('../src/Components/images/background/background.svg');
  /* background-size: cover; */
  margin:0;
  @import url(//db.onlinewebfonts.com/c/901497541657a2f24e42848bcf7fad52?family=Avenir+Heavy);
  font-family: Avenir Heavy;
  color: white;
  
  height:150vh;
  /* border:1px solid red; */
}
h1{
  color:yellow;
  
}

h2{
  color:yellow;
}
h3{
  color:yellow;
}

.root #8727bac4_1655907674 {

  background-color: black;

}